# bot.database
pyodbc
polars[xlsx2csv, xlsxwriter]

# bot.estruturas
pyyaml
pywinauto

# bot.imagem
numpy==1.26.4
pillow
PyScreeze
opencv-python
# opcional [ocr] easyocr

# bot.teclado / bot.mouse
pynput
pywin32
pyperclip

# bot.navegador
selenium

# bot.rest
httpx
jsonschema

# setup.py
wheel
setuptools
