# bot.database
pyodbc
polars[xlsx2csv, xlsxwriter]
fastexcel # read_excel(".xls") para o polars

# bot.estruturas
pyyaml
pywinauto

# bot.imagem
numpy==1.26.4
pillow
opencv-python
# opcional [ocr] easyocr

# bot.teclado / bot.mouse
pynput
pywin32 # Coordenada
pyperclip

# bot.navegador
selenium
undetected_chromedriver

# bot.rest
httpx
jsonschema

# setup.py
wheel
setuptools
