# bot.database
pyodbc
polars[xlsx2csv, xlsxwriter]

# bot.estruturas
pyyaml
pywinauto

# bot.imagem
numpy
pillow
easyocr
PyScreeze
opencv-python

# bot.teclado e bot.mouse
pynput
win32api
pyperclip

# bot.navegador
selenium

# bot.rest
httpx
jsonschema
